<div class = "homenav">
  <nav class="navbar navbar-expand-lg fixed-top navbar navbar-light mb-2" style="background-color:transparent;">
    <img src="../assets/11.png" width="120" height="64">
      <a class="navbar-brand"> <h1>Pets V Care</h1> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav mr-4">
              <li class="nav-item" id="navbtns">
              <button type="button" class="btn btn-outline-dark" routerLink='/home'>HOME 🏠</button>
              </li>
              <li class="nav-item" id="navbtns">
                <button type="button" class="btn btn-outline-dark" routerLink='/owners'>List Owners 👩</button>
                  <!-- <a class="nav-link" [routerLink]="['/employees',10]">List Employees</a> -->
              </li>
              <li class="nav-item" id="navbtns">
                <button type="button" class="btn btn-outline-dark" routerLink='/pets'>List Pets 🐶</button>
              </li>
              <li class="nav-item"id="navbtns" >
                <button type="button" class="btn btn-outline-dark">Contact Us 📞</button>               
              </li>
              <li class="nav-item"id="navbtns" >
                <button type="button" class="btn btn-dark">Search 🔍</button>               
              </li>


          </ul>
      </div>

     
      <ul class="navbar-nav mr-4" >
          <li class="nav-item" id ="navbtns2">
            <button type="button" class="btn btn-secondary btn-sm">Logout ⮞</button>
          </li>
      </ul>


  </nav>
</div>
<div>
  <router-outlet></router-outlet>

</div>