#ownernav {
    margin-top: 140px;
}

#card3 {
    background-color: transparent;
}

.card-body {
    background-image: url("../../assets/ann.png");
    height: 600px;
}

td {
    font-weight: bold;
}
th {
    color: rgb(27, 8, 95);
    font-weight: bolder;
}
