#ownernav {
    margin-top: 1840px;
}

#card3 {
    background-color: rgba(245, 245, 245, 0.4);
}

.card-body {
    background-image: url("../../assets/ab.jpg");
    height: 500px;
}
td {
    font-weight: bold;
}
th {
    color: rgb(27, 8, 95);
    font-weight: bolder;
}
